body{
    background-image: url("./pictures/Gymnasium-Riedberg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;  
}
